<ul class="navbar-nav w-100">
        <div class="mr-auto col-8 row border rounded-4 mx-auto mb-3">
          <li class="w-auto nav-item">
            <a class="nav-link" href="{{ path('dashboard')}}">Ajouter du contenu</a>
          </li>
          <li class="w-auto nav-item">
            <a class="nav-link" href="{{ path('admin_profil')}}">Profil</a>
          </li>
        </div>  
      </ul>