{% extends 'base.html.twig' %}

{% block title %}
    Modification du profil utilisateur
{% endblock %}

{% block body %}
    {{ include('layouts/dashboardNav.html.twig') }}
    <section>
        <div class="container">
            <div class="col-4 mx-auto">
                <h6>Modifiez votre profil</h6>
                
                {{ form_start(form) }}
                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary mt-2">
                    Enregistrer les modifications
                </button>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    

{% endblock %}