

<div class="col-6 p-2">
    <div class="border rounded-4 p-3">
        <h6>Ajouter une capsule</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum eum similique culpa, deleniti, sit dolorum veritatis nemo, facilis ipsa optio quam. Nemo, aspernatur? Iure libero culpa nesciunt id, rem laudantium!</p>

    </div>
</div>
  

